// src/app/modules/chat/components/match-request-chat-button/match-request-chat-button.component.scss

button {
  display: flex;
  align-items: center;
  gap: 8px;
  
  mat-icon {
    margin: 0;
  }
}