<!-- Composant orchestrateur : choisit le bon format selon l'emplacement -->
<ng-container [ngSwitch]="format">

  <app-publicite-banner *ngSwitchCase="'banner'"
    [position]="position"
    [ville]="ville"
    [closable]="closable"
    [pageSource]="pageSource">
  </app-publicite-banner>

  <app-publicite-feed *ngSwitchCase="'feed'"
    [ville]="ville"
    [compact]="compact"
    [pageSource]="pageSource"
    (adsLoaded)="adsLoaded.emit($event)">
  </app-publicite-feed>

  <app-publicite-sidebar *ngSwitchCase="'sidebar'"
    [ville]="ville"
    [sticky]="sticky"
    [pageSource]="pageSource">
  </app-publicite-sidebar>

</ng-container>